/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
}
/* line 14, ../sass/screen.scss */
#container .blue {
  color: #0081ff;
  font-weight: bold;
}
/* line 19, ../sass/screen.scss */
#container section {
  padding: 30px;
}
/* line 23, ../sass/screen.scss */
#container img {
  width: 100%;
}
/* line 27, ../sass/screen.scss */
#container #header-section {
  padding: 0px;
  position: relative;
}
/* line 30, ../sass/screen.scss */
#container #header-section img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 37, ../sass/screen.scss */
#container #pardot-form {
  position: absolute;
  left: 65%;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.25);
}
/* line 44, ../sass/screen.scss */
#container #logo-banner {
  background-color: #333333;
}
/* line 47, ../sass/screen.scss */
#container #logo-banner .logo-holder {
  text-align: center;
}
/* line 50, ../sass/screen.scss */
#container #logo-banner .logo-holder img {
  margin: 0 auto;
  max-width: 440px;
}
/* line 58, ../sass/screen.scss */
#container #main-section h2 {
  text-align: center;
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 30px;
}
/* line 65, ../sass/screen.scss */
#container #main-section .content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 76, ../sass/screen.scss */
#container #main-section .content .copy {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 87, ../sass/screen.scss */
#container #main-section .content .copy p {
  line-height: 1.7;
  font-size: 20px;
  font-weight: bold;
}
/* line 92, ../sass/screen.scss */
#container #main-section .content .copy p.blue {
  font-size: 26px;
}
/* line 98, ../sass/screen.scss */
#container #main-section .content div {
  width: 48%;
}
/* line 104, ../sass/screen.scss */
#container #bullet-points {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image: url("http://go.geistglobal.com/l/73132/2017-08-09/8glmsq/73132/130637/background.png");
  padding: 30px 60px;
  font-size: 18px;
}
/* line 112, ../sass/screen.scss */
#container #bullet-points div {
  color: white;
  width: 50%;
  line-height: 1.5;
}
/* line 117, ../sass/screen.scss */
#container #bullet-points div h3 {
  font-weight: bold;
  font-size: 22px;
}
/* line 123, ../sass/screen.scss */
#container #bullet-points div ul li {
  list-style-type: disc;
  list-style-position: inside;
}
/* line 132, ../sass/screen.scss */
#container #articles h2 {
  padding: 10px 0px 30px 0px;
  text-align: center;
  font-size: 28px;
}
/* line 138, ../sass/screen.scss */
#container #articles .article-holder {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 149, ../sass/screen.scss */
#container #articles .article-holder article {
  width: 30%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 161, ../sass/screen.scss */
#container #articles .article-holder article p {
  margin: 15px 0px;
  line-height: 1.5;
  font-size: 18px;
}
/* line 167, ../sass/screen.scss */
#container #articles .article-holder article a.blue-btn {
  background-color: #0081ff;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 7px;
  border-radius: 7px;
}
/* line 179, ../sass/screen.scss */
#container footer {
  background-image: url("http://go.geistglobal.com/l/73132/2017-08-09/8glmsq/73132/130637/background.png");
  background-size: cover;
}
/* line 183, ../sass/screen.scss */
#container footer #footer-stuffs {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  width: 55%;
  margin: 0px auto;
  padding: 30px 0px;
}
/* line 198, ../sass/screen.scss */
#container footer #footer-stuffs img {
  max-width: 300px;
}
/* line 202, ../sass/screen.scss */
#container footer #footer-stuffs h4 {
  color: #efcb00;
  font-weight: bold;
  font-size: 24px;
}
/* line 208, ../sass/screen.scss */
#container footer #footer-stuffs .social-icons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 40px 0px;
}
/* line 220, ../sass/screen.scss */
#container footer #footer-stuffs .social-icons img {
  width: 75%;
}

/* Let's kick off some media queries */
@media only screen and (max-width: 480px) {
  /* line 233, ../sass/screen.scss */
  #container #main-section h2 {
    font-size: 24px;
  }
  /* line 239, ../sass/screen.scss */
  #container #main-section .content .copy p {
    font-size: 17px;
  }
  /* line 242, ../sass/screen.scss */
  #container #main-section .content .copy p.blue {
    font-size: 18px;
  }
  /* line 250, ../sass/screen.scss */
  #container #bullet-points div {
    font-size: 15px;
  }
  /* line 255, ../sass/screen.scss */
  #container #articles .article-holder {
    display: block;
  }
  /* line 258, ../sass/screen.scss */
  #container #articles .article-holder article {
    margin-bottom: 40px;
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  /* line 270, ../sass/screen.scss */
  #container #main-section .content {
    display: block;
  }
  /* line 273, ../sass/screen.scss */
  #container #main-section .content p {
    margin: 20px 0px;
  }
  /* line 277, ../sass/screen.scss */
  #container #main-section .content div {
    width: 100%;
  }
  /* line 283, ../sass/screen.scss */
  #container #pardot-form {
    position: initial;
    margin-bottom: 0px;
  }
  /* line 288, ../sass/screen.scss */
  #container #pardot-form p label {
    text-align: center;
    float: none;
    width: 100%;
    background: none !important;
  }
  /* line 296, ../sass/screen.scss */
  #container #pardot-form p.required label::after {
    content: url(/images/required.gif);
  }
  /* line 301, ../sass/screen.scss */
  #container #pardot-form p .submit {
    margin-left: 0.5em;
  }
  /* line 307, ../sass/screen.scss */
  #container #bullet-points {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* line 312, ../sass/screen.scss */
  #container #bullet-points div {
    width: 100%;
    margin-bottom: 17px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 323, ../sass/screen.scss */
  #container #pardot-form {
    left: 58%;
    text-align: center;
  }
}
